{% extends './base_template.html' %}

{% block content %}


<div class="container" style="margin:auto; margin-top:10px;">
<h2>Analyze and Compare your expenditures</h2>
<p><em><strong>Analyzer</strong></em> shows you pictorially how much in each categoy you have spent. <br>
<em><strong>Comparator</strong></em> on the other hand, lets you compare the expenditures categorically in the form of tables.</p>

<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'London')">Analyzer</button>
  <button class="tablinks" onclick="openCity(event, 'Paris')">Comparator(Tabulated)</button>
</div>

<div id="London" class="tabcontent">
  <div class="row">
  <h6>Categories</h6>
  <div class="custom-select col-xs-4" style="width:200px; margin:10px; padding:10px;">
    <form>
      <div class="form-group">
    <select>
      <option value="0">Food</option>
      <option value="1">Travel</option>
      <option value="2">Groceries</option>
      <option value="3">Electronics</option>
      <option value="4">Clothing and Footwear</option>
      <option value="5">Household</option>
      <option value="6">Others</option>
    </select>
    </div>
    <div class="form-group" style="float:right">
      <label for="from">From</label>
    <input type="date" class="form-control" name="from"></input>
    </div>
    <div class="form-group" style="float:right">
      <label for="to">To</label>
    <input type="date" class="form-control" name="to"></input>
    </div>
    <div class="form-group" style="float:right">
    <button type="submit" class="btn btn-primary" name="submit">Submit</Button>
    </div>
    </form>
  </div>
  <div id="graph" class="col-xs-8" style="float:right; height:600px"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</div>
</div>

<div id="Paris" class="tabcontent">
  <h3>Comparator</h3>

</div>
</div>
<script type="text/javascript">
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
  updateGraph();
}
</script>
<script>
function updateGraph() {

var chart = new CanvasJS.Chart("graph", {
	animationEnabled: true,
	theme: "light2",
	title:{
		text: "Expenses"
	},
	axisY:{
		includeZero: true
	},
	data: [{
		type: "line",
		dataPoints: [
			{ x: 2, y: 450 },
			{ x: 3, y: 414},
			{ x: 4, y: 520},
			{ y: 460 },
			{ y: 450 },
			{ y: 500 },
			{ y: 480 },
			{ y: 480 },
			{ y: 410 },
			{ y: 500 },
			{ y: 480 },
			{ y: 510 }
		]
	},
  {
		type: "line",
		dataPoints: [
			{ y: 550 },
			{ y: 514},
			{ y: 520},
			{ y: 120 },
			{ y: 340 },
			{ y: 300 },
			{ y: 290 },
			{ y: 900 },
			{ y: 120 },
			{ y: 780 },
			{ y: 890 },
			{ y: 600 }
		]
	}
  ]
});
chart.render();

}
</script>
<style>

  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width:90%;
  }

  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }

  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
  }

</style>
{% endblock %}
