{% extends './base_template.html' %}

{% block content %}
<div class="panel-header panel-header-lg">
  <canvas id="bigDashboardChart"></canvas>
</div>

<div class="content">
  <div class="row">
    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Monthly Statistics</h5>
          <h4 class="card-title">Food Category</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="food" onload="updateGraphs()"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Monthly Statistics</h5>
          <h4 class="card-title">Travel Expenses</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="travel" onload="updateGraphs()"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Monthly Statistics</h5>
          <h4 class="card-title">Groceries Expenses</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="Groceries" onload="updateGraphs()"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons ui-2_time-alarm"></i> Just Updated
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Monthly Statistics</h5>
          <h4 class="card-title">Electronics Category</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="Electronics" onload="updateGraphs()"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Monthly Statistics</h5>
          <h4 class="card-title">Clothing and Footwear</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="Clothing" onload="updateGraphs()"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Monthly Statistics</h5>
          <h4 class="card-title">Household Expenses</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="Household"></canvas>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons ui-2_time-alarm"></i> Just Updated
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
